##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
variable = ""
print(variable)

2. > Create a variable containing your name (Points : 5)

In [ ]:
first_name = "Deviana"
first_name

'Deviana'

In [ ]:
first_name = "Deviana"
last_name = "Musyafa"
full_name = first_name+" "+last_name

print(full_name)
print(full_name.upper())
print(full_name.lower())

Deviana Musyafa
DEVIANA MUSYAFA
deviana musyafa

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
list = ["whiteboard","eraser","table","chair","clock"]
list

['whiteboard', 'eraser', 'table', 'chair', 'clock']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
name = ("Ana","Budi")
age = (21,22)
print(name)
print(age)

('Ana', 'Budi')
(21, 22)

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
price = 120000
quantity_sold = 20
discount = 0.1

total = price*quantity_sold
discount_price = total*discount
total_payment = total - discount_price

print(total_payment)

2160000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

countries = ["Indonesia","Singapore","Japan","Hungary","England","Germany","Spain"]
countries

['Indonesia', 'Singapore', 'Japan', 'Hungary', 'England', 'Germany', 'Spain']

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

countries[:4]

['Indonesia', 'Singapore', 'Japan', 'Hungary']

In [ ]:
# Append new country to the list (Points : 5)

countries.append("South Korea")
countries

['Indonesia',
 'Singapore',
 'Japan',
 'Hungary',
 'England',
 'Germany',
 'Spain',
 'South Korea']

In [ ]:
# Drop one country from the list (Points : 5)

countries.remove("Hungary")
print(countries)

['Indonesia', 'Singapore', 'Japan', 'England', 'Germany', 'Spain', 'South Korea']

In [ ]:
# Get country in the last index (Points : 5)

max(countries)

'Spain'

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer (Points : 5)

dict.keys(customer)

dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
for x in customer:
  print(x)

name
age
gender
membership

In [ ]:
# Print all customer names (Points : 5)

customer["name"]

['Dio', 'Eka', 'Wayu', 'Riki']

In [ ]:
for name in customer["name"]:
  print(name)

Dio
Eka
Wayu
Riki

In [ ]:
# Print the first customer name (Points : 5)

customer["name"][0]

'Dio'

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

customer["age"]

[20, 19, 24, 39]

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 

customer["gender"]

[1, 0, 0, 1]

In [ ]:
gen = []
for i in customer["gender"]:
  if i == 1:
    gen.append('Male')
  else:
    gen.append('Female')

customer.update({"gender": gen})
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'age': [20, 19, 24, 39], 'gender': ['Male', 'Female', 'Female', 'Male'], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}